<div class="gif-item">
  <a class="gif-item__link" [routerLink]="['/gif', gif().id]">
    <img
      class="gif-item__img"
      [src]="gif().previewWebpUrl || gif().previewUrl"
      [alt]="gif().title || 'GIF'"
      [attr.width]="gif().originalWidth"
      [attr.height]="gif().originalHeight"
      loading="lazy"
      decoding="async"
    />
  </a>

  <span class="gif-item__author">By: {{ gif().author || 'Anonymous' }}</span>

  <gfd-button
    class="gif-item__copy"
    type="button"
    variant="icon"
    ariaLabel="Copy link"
    (btnClick)="copyLinkToClipboard()"
  >
    <ng-icon [svg]="svg" size="18"></ng-icon>
  </gfd-button>
</div>
