$primary: #161615;
$secondary: #ede6dc;
$general: #0000;
$error: #f38b8b;
$success: #8bf39cff;
$warning: #0000;
$white: #fff;
$black: #000;
$gray: rgba(255, 255, 255, 0.42);
$light-gray: #777;
$muted: #615e5b;
$paper: #f8f7f4;

$font-family-main: 'DM Sans', sans-serif;

$font-size-label: 0.7rem;
$font-size-xs: 1rem;
$font-size-sm: 1.125rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2.25rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 4rem;

$spacing-sm: 0.625rem;
$spacing-xs: 0.875rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 2rem;

$radius-sm: 0.25rem;
$radius-md: 0.5rem;
$radius-lg: 1rem;
$radius-xl: 1.625rem;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-large: 600;
$font-weight-bold: 700;

$container-width: 1200px;
