@use 'theme' as *;

.status {
  font-size: $font-size-lg;
}

.content {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  align-items: center;
  justify-content: center;
  padding-bottom: $spacing-md;
}
